---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<div class="blog-container">
  <BlogPost {...post.data}>
    <Content />
  </BlogPost>
</div>

<style>
  .blog-container {
    margin-top: 70px;
  }
</style>

