@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--color-text);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.interestItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.interestItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
}

.interestItem:hover {
  background-size: 100% 100%;
}

.interestItem h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.interestItem p {
  font-size: 20px;

  a {
    color: var(--color-primary);
    text-decoration: none;
    transition: 0.4s;
  }

  a:hover {
    color: var(--color-secondary);
  }
}

.interestItemContent {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.interestItemText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.albumList {
  margin: 10px 0;
  padding: 17px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .interestItems {
    gap: 50px;
  }

  .interestItem {
    padding-left: 0;
    padding-right: 0;
  }

  .interestItemContent {
    flex-wrap: wrap;
  }

  .interestItemText {
    width: 100%;
  }

  .interestItem h3 {
    font-size: 20px;
  }

  .interestItem p {
    font-size: 17px;
  }

  .imageSlider {
    width: 100%;
  }
}
